* {
  font-family: sans-serif;
}
.column {
  margin-top: 45px;
  margin-left: 25px;
}

#experience {
    background: #87CEEB; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#87CEEB, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#87CEEB, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#87CEEB, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#87CEEB, white); /* Standard syntax (must be last) */
}

.top-bar, .top-bar ul{
  background: #003333;
  font-size: 125%;
  font-style:normal;
  }

  .top-bar-left {
    margin: 10px;
  }
  .top-bar{
    .menu-text{
      color:white;
    }
    .menu > .menu-text > a {
      display: inline;
      padding: 0;
    }
  }
